.content-column article.node footer.link-wrapper ul.links {
  	width: 100%;
}

/* TouchPro Theme styling */
/* Making the menu responsive */

nav select {
  	display: none;
}

nav.primary-menu {
	float: right;
	color: black;
  	padding: 0;
}

.masthead nav.primary-menu > ul.menu {
  	padding-top: 1em;
}

@media (max-width: 1100px) {
	li.leaf, li.expanded {
  		font-size: 11px; 
	}
	.masthead nav.primary-menu ul.menu li {
    display: block;
    float: left;
    line-height: 1em;
    margin: 0 0 10px 10px;
    position: relative;
	}
}

@media (max-width: 800px) {
  	nav ul { 
  		display: none; 
  	}
  	nav select { 
  		display: inline-block;
  		width: 100%;
  		height: 100%;
  		font-size: 18px;
  	}
  	nav {
  		height: 48px;
  		width: 100%;
  		top: 10px;
  	}
  	body.html > .masthead.clearfix > .mast {
	padding-bottom: 20px;
	}
}


.masthead select {
	position: relative;
	padding: 12px 11px;
	background-color: #323232;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #242424));
	background-image: -webkit-linear-gradient(#3f3f3f, #242424);
	background-image: -moz-linear-gradient(#3f3f3f, #242424);
	background-image: -o-linear-gradient(#3f3f3f, #242424);
	background-image: -ms-linear-gradient(#3f3f3f, #242424);
	background-image: linear-gradient(#3f3f3f, #242424);
	-pie-background: linear-gradient(#3f3f3f, #242424);
	-moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
	-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
	-o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
	box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
	border: 1px solid #000;
	color: #ebebeb;
	text-shadow: black 1px 1px 1px;
	filter: dropshadow(color=#333333, offX=1, offY=2);
	min-width: 140px;
  }

/* The calender block for the frontpage */
.date-nav > .pager > .date-next a {
	float: none;
}

.date-nav.item-list > ul.pager {
	height: 0px;
}

.view-header > .date-nav-wrapper {
	height: 0em;
}

.date-nav > .date-heading > h3 > a {
	font-size: 27px;
	line-height: 35px;
	color: #454545;
	text-decoration: none;
}

.date-nav > .pager > li.date-prev {
	left: 0px;
	width: 97%;
}

.view-header > .date-nav-wrapper > .date-nav > .date-heading {
	z-index: 2;
	padding: 0.3em;
	left: 15%;
	max-width: 70%;
}

.pane-views > .pane-content > .view-calendar {
	margin-bottom: 2em;
}

.calendar-calendar > div {
	margin-top: 37px;
}

#mini-panel-kalender_og_kommende .pane-title {
	font-size: 18px;
	line-height: 18px;
}

.content-column .content ul.pager li.date-next {
	width: 100px;
}

.content-column .view-calendar .calendar-calendar #multi-day-container,
.content-column .view-calendar .calendar-calendar #single-day-container {
	height: auto;
	overflow: hidden;
}

/* Aktuelt box in top of front page */

.region-preblocks .field-content > p {
	font-size: 2em;
	line-height: 1.5em;
}

/* Tables */

.views-table {
	width: 100%;
	border: 1px solid white;
	outline: 1px solid #D1D1D1;
	padding: 19px;
	overflow: hidden;
	background-color: #F0F0F0;
	position: relative;
	top: -9px;
}

.views-table > thead .views-field {
	text-align: left;
	font-size: 1.5em;
	line-height: 1.5em;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.views-table > tbody > tr {
	line-height: 1.8em;
}

/* Removing some of the columns on small devices */
@media only screen and (max-width: 680px), only screen and (max-device-width: 680px) {
	table th, table td {
		display: none;
	}
	
	th:first-child, th:nth-child(2), td:first-child, td:nth-child(2), .calendar-calendar th, .calendar-calendar td {
		display: table-cell;
	}
	.calendar-calendar th, .calendar-calendar td {

	}
	.html .calendar-calendar .month-view .full tr.single-day .no-entry, .calendar-calendar .month-view .full tr.single-day .no-entry .inner {
		display: none
	}
	.calendar-calendar table thead th {
		min-width: 20px;
	}
	.view .date-nav-wrapper .date-nav .date-heading h3  {
		font-size: 1.2em;
	}
	body.page-calendar-node-field-dato .block .tabs, body.page-calendar-node-field-dato #block-panels-mini-kalender-og-kommende {
		display: none;
	}
	.tabs.primary li {
		max-width: 22%;
		overflow: hidden;
		font-size: 0.8em;
	}
	.page-forum .tabs.primary li a {
		height: 40px;
		width: 50px;
	}
	ul.tabs.primary {
		margin: 0px;
	}
}

/*User search page styling*/
section.region-content > article > .content {
	border: 1px solid white;
	outline: 1px solid #D1D1D1;
	padding: 19px;
	overflow: hidden;
	background-color: #F0F0F0;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EEE), color-stop(100%, #F6F6F6));
	background-image: -webkit-linear-gradient(#EEE, #F6F6F6);
	background-image: -moz-linear-gradient(#EEE, #F6F6F6);
	background-image: -o-linear-gradient(#EEE, #F6F6F6);
	background-image: -ms-linear-gradient(#EEE, #F6F6F6);
	background-image: linear-gradient(#EEE, #F6F6F6);
}

section article .view-users .views-row {
	padding-top: 10px;
	border-top: 1px solid black;
	margin-bottom: 20px;
}

section article .view-users .views-row .views-label {
	font-weight: bold;
} 

/* ==OG listings== */
.view-og-all-user-group-content .item-list {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

/* ==General list styling== */
ul a {
	text-decoration: none;
}

body:nth-of-type(1) ul li.views-row, 
body:nth-of-type(1) ul.views-summary li, 
body.page-forum ul.action-links li, 
.more-link {
	list-style-type:none;
	padding: 0 0 0 25px;
	position:relative;
}

.view .item-list ul {
	margin-left: 0px;
	list-style-type: none;
}

.view .item-list li{
	margin-bottom: 10px;
}

.view .item-list a{
	font-weight: normal;
}

body:nth-of-type(1) ul li.views-row:after, body:nth-of-type(1) ul.views-summary li:after, ul li.views-row:after {
	/*Add another block-level blank space*/
	content:"\00a0";
	display:block;
	 
	/*Make it a small rectangle so the border will create an V-shape*/
	width: 3px;
	height: 3px;
	 
	/*Add a blue border on the bottom and left, creating that 'V' */
	border: solid #004D7D;
	border-width: 0 2px 2px 0;
	 
	/*Position it on top of the circle*/
	position:absolute;
	left: 4px;
	top: 40%;
	margin-top: -4px;
	 
	/*Rotate the V -45 degrees to turn it into a arrow pointer*/
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

/* Making sure that the active users listing will go into two lines*/
span.views-field > span.field-content {
	display:block;
}

/* Adjusting archive news listing */
.view-nyheder > .item-list > ul.views-summary > li {
	padding-bottom: 6px;
	font-size: 1.3em;
}

/* Adjusting the more links on lists */
.more-link > a {
	font-size: 1.1em;
	text-decoration: none;
}

.view > .more-link {
	float: right;
}

/* Now making sure that the more link will not flow up next to a title in a mini pane */
h2.pane-title {
	clear: both;
}

body:nth-of-type(1)  .more-link > a:after{
	/*Add another block-level blank space*/
	content:"\00a0";
	display:block;
	 
	/*Make it a small rectangle so the border will create an V-shape*/
	width: 4px;
	height: 4px;
	 
	/*Add a blue border on the bottom and left, creating that 'V' */
	border: solid #004D7D;
	border-width: 0 2px 2px 0;
	 
	/*Position it on top of the circle*/
	position:absolute;
	left: 4px;
	top: 40%;
	margin-top: -3px;
	 
	/*Rotate the V -45 degrees to turn it into a arrow pointer*/
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

/* Adding mouse over to all links */
.html a:hover {
	text-decoration: underline;
}

.html nav.primary-menu a:hover {
	text-decoration: none;
}

/* Styling gallery slideshow */
.view-gallery-slideshow.view-display-id-block {
	overflow: hidden;
}

.view-gallery-slideshow.view-display-id-block ul {
	margin:	0 0 0 0;
}

/* Styling of gallery node view */
.field-name-field-image-gallery .field-item {
	margin-right: 10px;
	float: left;
}

.node .field-name-body, .block-content {
	clear: both;
	font-size: 1.2em;
	padding-top: 10px;
}

/* Styling af article node view */
article.node.clearfix > .content.clearfix {
	padding-left: 0px;
}

article.node.clearfix > .content > .field.field-type-image {
	margin-left: 0px;
	width: 100%;
}

/* Removing more link from tag-cload */
article.block-tagclouds > .content > .more-link {
	display: none;
} 

/* Styling the text state display */
article.node-article > .content > header {
	float: left;
}

article.node-article > .content > .field-name-field-tekststadie {
	float: right;
	padding: 0 0 0 35px;
	position:relative;
}

article.node-article > .content > .field-name-field-tekststadie:before {
	/*Add another block-level blank space*/
	/*fill it with a blank space*/
	content:"\00a0";
	 
	/*make it a block element*/
	display: block;
	 
	/*adding an 8px round border to a 0x0 element creates an 8px circle*/
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	height: 0;
	width: 0;
	 
	/*Now position it on the left of the list item, and center it vertically
	(so that it will work with multiple line list-items)*/
	position: absolute;
	left: 7px;
	top: 40%;
	margin-top: -8px;
	box-shadow: 2px 2px 4px #666;
	-o-box-shadow: 2px 2px 5px #888;
	-icab-box-shadow: 2px 2px 5px #888;
	-khtml-box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
}

/* Now the color determined by the taxonomy term
- Green */
.taxonomy-foerste-udkast article.node-article > .content > .field-name-field-tekststadie:before {
	border: solid 9px #1b7a1a;
}

/* yellow */
.taxonomy-gennemarbejdet article.node-article > .content > .field-name-field-tekststadie:before {
	border: solid 9px #f1bc28;
}

/* red */
.taxonomy-klar-til-udgivelse article.node-article > .content > .field-name-field-tekststadie:before {
	border: solid 9px #c4181b;
}

/* Making comment field smaller */
td#cke_contents_edit-comment-body-und-0-value, td#cke_contents_edit-field-profiltekst-und-0-value {
	height: auto !important;
}

td#cke_contents_edit-comment-body-und-0-value > iframe, td#cke_contents_edit-field-profiltekst-und-0-value > iframe {
	height: auto !important;
}

fieldset#edit-comment-body-und-0-format {
	display: none;
}

/* Removing underlining from tag cloud terms and adding lineheight */
.tagclouds-term > a {
	text-decoration: none;
	line-height: 1.8em;
}

/* Setting first letter of page titles always to be upper case, 
so i can use all lower case taxonomy terms for the more with same 
term lists, where i want to term to be all lower case */
.page-taxonomy h1.page-title {
	text-transform: capitalize;
}

/*Pusing up font size for taxonomy term description */
.taxonomy-term-description {
	font-size: 1.2em;
}

/* Getting some space between the article content and left side */
article.node.clearfix > .content.clearfix {
	padding-left: 10px;
}

/* Styling for "aktuelt" view in top of frontpage */
.view-id-aktuelt .field-content {
	font-size: 2em;
	line-height: 1.5em;
}

/* Adding HUF-slogan after logo */

.mast > .block.logo-container {
	width: 100%;
	margin: auto;
}
.logo-container:after { 
	content:"Håbefulde Unge Forfattere";
	font-size: 40px;
	display: block;
	margin-top: 40px;
	float: right;
	left: 140px;
	position: absolute;
	top: 8px;
}

.logo-container a:after {
	content:"Hvorfor skrive alene?";
	color: black;
	text-shadow: none;
	font-size: 24px;
	left: 200px;
	position: absolute;
	top: 100px;
	float: right;
}

/* Removing filter to avoid IE8 bug with overlay menu */
body > .masthead {
  	filter: none;
}

@media only screen and (max-width: 680px), only screen and (max-device-width: 680px) {
	.logo-container:after { 
		content:"Håbefulde Unge Forfattere";
		font-size: 18px;
		display: block;
		position: absolute;
		left: 95px;
		top: -5px;
		float: right;
	}
	a.logo > img {
		width: 60px;
	}
	body.html > .masthead.clearfix > .mast {
		padding: 0px 0px 20px 0px;
	}
	.logo-container a:after {
		content:"Hvorfor skrive alene?";
		color: black;
		text-shadow: none;
		font-size: 14px;
		left: 150px;
		position: absolute;
		top: 65px;
		float: right;
}
	}
}

/* Reducing hight of top navigation banner */
body > .masthead.clearfix {
	padding-bottom: 0px;
}

body > .masthead.clearfix > .mast {
	padding-bottom: 0px;
}

#page.mast {
	margin-top: 10px;
}

/* ==Styling for the forum pages== */

/* General column style */
.main th {
	min-width: 60px;
	text-align: left;
}

.forum > .description {
	padding-left: 28px;
} 

#forum > table {
	width: 100%;
}

#forum .forum-tools {
	margin-top: 0px;
}

#forum form {
	border: none;
}

#forum .container-inline input {
	height: 30px;
}

.forum-table td {
	padding: 5px;
}

.mast tr.even td.forum-list-icon-default .forum-list-icon-wrapper span, 
.mast tr.odd td.forum-list-icon-default .forum-list-icon-wrapper span, 
.mast .forum-list-icon-legend .forum-list-icon-default {
	background-color: #5ba354;
}

.mast tr.even td.forum-list-icon-new-posts .forum-list-icon-wrapper span, 
.mast tr.odd td.forum-list-icon-new-posts .forum-list-icon-wrapper span, 
.mast .forum-list-icon-legend .forum-list-icon-new-posts {
	background-color: #5ba354;
}

/* Has to be important since the forum module adds its own important css */
#forum-sort {
	padding-bottom: 10px !important;
}

body.page-forum- th {
	min-width: 25px;
}

body.page-forum th > a {
	color: black;
	text-decoration: none;
}

body.page-forum tbody {
	font-size: 1.2em;
}

td.icon {
	vertical-align: top;
}

#forum-pager-top.forum-pager .item-list .pager, #forum-pager-bottom.forum-pager .item-list .pager {
	width: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

form#advanced-forum-forum-topic-list-sort-form, form#ctools-jump-menu {
	outline: none;
	padding: 0px;
}

.forum-table td.views-field-title {
	font-weight: normal;
	font-size: 1.1em;
}

.forum-table td.views-field-title > a {
	text-decoration: none;
}

.node-type-forum .content-column .forum-post-footer a, .node-type-forum .content-column .forum-topic-header a, a.af-button-large {
	text-decoration: none;
	padding: 5px;
	margin: 6px;
}

.page-forum .forum-node-create-links {
	margin-bottom: 12px;
}

.page-forum .item-list > ul.pager {
    height: 100%;
    border: none;
}

.page-forum ul.pager > li.pager-last > a {
    width: 55px;
}

.forum-table {
	width: 100%;
}

/* Fixing styling of headers and links */
body.page-forum td > div > a {
	text-decoration: none;
}

body.page-forum span.submitted > a {
	text-decoration: none;
}

body.page-forum .title > div > span.submitted {
	font-size: 0.9em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.4em;
	display: block;
}

section#comments.comment-wrapper > article.comment {
	font-size: 1.2em;
}



body.page-forum .main > section {
	clear: both;
	top: -65px;
	position: relative;
}

/* Making som space on <br> */
br {
	line-height: 2em;
}

/* And some lineheight */
p {
	line-height: 1.2em;
}


/* Reducing advanced search possibilities */
.main fieldset.search-advanced .fieldset-wrapper .criterion {
	display: none;
}

.main fieldset.search-advanced .fieldset-wrapper .criterion:first-child {
	display: block;
}

/* Making views tables appear normally on admin pages */

body.page-admin .views-table {
	top: 0px;
}

/* Optimizing for small resolutions */
@media only screen and (max-width: 680px), only screen and (max-device-width: 680px) {
	.block ul.pager a, .block ul.pager .pager-current {
		padding: 0 9px;
	}
	.content .forum-node-create-links {
		width: 100%;
	}
	.content .forum-topic-header .topic-reply-link, .forum-topic-header .topic-new-post-link, .forum-topic-header .last-post-link {
		float: none;
		margin: 0px;
		height: 36px;
	}
	nav.breadcrumb {
		display: none;
	}
  	.item-list > ul.pager > li.pager-first,
    .item-list > ul.pager > li.pager-previous,
    .item-list > ul.pager > li.pager-next,
    .item-list > ul.pager > li.pager-last {
       	display: none;
   	}
}

/* Making newsletter sign up block more readable */
#newsletter-subscribe-form .form-item {
	margin-bottom: 0px;
}

.block-newsletter .prefix {
	line-height: 1.4em;
}

/* removing underline as default for links */
body.html a {
	text-decoration: none;
}

/* Fixing colorbox issue in IE8 with image collapsing */
#cboxLoadedContent img {
    max-width: none;
}

/* Making a green version of touchpro */
#page h1, 
#page header > h2, 
#page h1 > a, 
.primary-menu .menu a,
.masthead nav.primary-menu ul.menu li a.active,
.masthead nav.primary-menu ul.menu li a, 
.masthead nav.primary-menu ul.menu li span,
#page header > h2.block-title {
	background-color: #5ba354;
	background-image: none !important;
	border: 1px solid white !important;
	color: black !important;
	text-shadow: none !important;
}
.page-admin #page h1, 
.page-admin #page header > h2, 
.page-admin #page h1 > a, 
.page-admin .primary-menu .menu a,
.page-admin .masthead nav.primary-menu ul.menu li a.active,
.page-admin .masthead nav.primary-menu ul.menu li a, 
.page-admin .masthead nav.primary-menu ul.menu li span,
.page-admin #page header > h2.block-title {
	background-color: transparent;
}

.content article.node header .post-icon {
	background: transparent;
	border: none;
}

.masthead .primary-menu select {
  	position: relative;
  	padding: 12px 11px;
  	background-color: #5ba354;
  	background-image: none;
  	box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  	border: 1px solid white;
  	color: black;
  	min-width: 140px;
  	text-shadow: none;
}

body .calendar-calendar tr td.today, 
body .htm.calendar-calendar tr.odd td.today, 
body .calendar-calendar tr.even td.today {
	background-color: #5ba354;
	color: black;
}

.mast > .block.logo-container {
	background: transparent;
	border: none;
	color: black;
	box-shadow: none;
}

body > .masthead {
	background: -moz-linear-gradient(#ffffff, #5ba354);
	background: -ms-linear-gradient(#ffffff, #5ba354);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #5ba354));
	background: -webkit-linear-gradient(#ffffff, #5ba354);
	background: -o-linear-gradient(#ffffff, #5ba354);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#5ba354')progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#5ba354')progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: linear-gradient(#ffffff, #5ba354);
	border-bottom: 2px solid white;
}

.masthead img {
	width: 100px;
}

.mast .forum-pager .pager-current, 
.mast .forum-pager .pager a:hover, 
.mast #forum-comments .pager-current, 
.mast #forum-comments .pager a:hover {
	background: #5ba354;
	border: 1px solid #5ba354;
}

.mast .forum-table td.views-field-title {
	font-size: 1em;
}

body.page-forum .mast tbody {
	font-size: 1em;
}

.mast .forum-table-wrap .forum-table-superheader, 
.mast .forum-table-topics thead tr {
	background: #5ba354;
}

.masthead nav.primary-menu ul.menu li a:hover, 
.masthead nav.primary-menu ul.menu li a:focus, 
.masthead nav.primary-menu ul.menu li a.active, 
.masthead nav.primary-menu ul.menu li span:hover, 
.masthead nav.primary-menu ul.menu li span:focus, 
.masthead nav.primary-menu ul.menu li span.active {
  	background-color: white;
}

body.html .context-block-views-gallery_slideshow-block a {
	font-size: 1.1em;
}

.view-gallery-slideshow.view-display-id-block ul.slide {
	margin-bottom: 10px;
}

.html #page .block-search .form-actions {
	background: #5ba354;
}
border: 1px solid #5ba354;