/*
.field-name-field-image-gallery .field-item { 
	float: left;
	margin-top: 5px;
	margin-right: 5px; 
}

.views-row .node-teaser {
	height: auto;
	width: auto;
}

#highlighted .content {
	background: yellow;
	border-radius: 5px;
	padding: 0px 0px 4px 6px;
}

#highlighted p {
	color: black;
	font-size: 18px;
	font-weight: normal;
}
/*
 body.html {
	background: #FAFAF0;
}

#header-top img {
	width: 745px;
	border-radius: 10px;
}

#header.clearfix {
	margin-top: 0px;
}

.views-slideshow-controls-text-pause {
	line-height: 0px;
	display: block;
	text-indent: -5000px;
}

.views-slideshow-controls-text-previous {
	display: block;
	background: url(/sites/all/modules/hufstyle/arrow_left.png) no-repeat;
	background-size: 20px;
	width: 31px;
	height: 46px;
	text-indent: -5000px;
	position: absolute;
	top: 44%;
	left: 7px;
}

.views-slideshow-controls-text-next {
	display: block;
	background: url(/sites/all/modules/hufstyle/arrow_right.png) no-repeat;
	background-size: 20px;
	width: 31px;
	height: 46px;
	text-indent: -5000px;
	position: absolute;
	top: 44%;
	right: 5px;
}

.views_slideshow_cycle_teaser_section {
	left: 25px;
}

.item-list .pager {
	margin: 10px;
}

#block-panels-mini-nyeste-indhold > .content {
	margin-top: -20px;
}

*/

/* TouchPro Theme styling */
/* Making the menu responsive */
/*
nav select {
  display: none;
}

nav.primary-menu {
	float: right;
	color: black;
}

@media (max-width: 1100px) {
  li.leaf     { font-size: 12px; }
}

@media (max-width: 800px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}
*/

.masthead select {
  position: relative;
  padding: 12px 11px;
  background-color: #323232;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #242424));
  background-image: -webkit-linear-gradient(#3f3f3f, #242424);
  background-image: -moz-linear-gradient(#3f3f3f, #242424);
  background-image: -o-linear-gradient(#3f3f3f, #242424);
  background-image: -ms-linear-gradient(#3f3f3f, #242424);
  background-image: linear-gradient(#3f3f3f, #242424);
  -pie-background: linear-gradient(#3f3f3f, #242424);
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  border: 1px solid #000;
  color: #ebebeb;
  text-shadow: black 1px 1px 1px;
  filter: dropshadow(color=#333333, offX=1, offY=2);
  min-width: 140px;
  }

/* The calender block for the frontpage */
.date-nav > .pager > .date-next a {
	float: none;
}

.date-nav.item-list > ul.pager {
	height: 0px;
}

.view-header > .date-nav-wrapper {
	height: 0em;
}

.date-nav > .date-heading > h3 > a {
	font-size: 27px;
	line-height: 35px;
	color: #454545;
	text-decoration: none;
}

.date-nav > .pager > li.date-prev {
	left: 0px;
	width: 97%;
}

.view-header > .date-nav-wrapper > .date-nav > .date-heading {
	z-index: 2;
	padding: 0.3em;
	left: 15%;
	max-width: 70%;
}

.pane-views > .pane-content > .view-calendar {
	margin-bottom: 2em;
}

#mini-panel-kalender_og_kommende .pane-title {
	font-size: 18px;
	line-height: 18px;
}

/* Aktuelt box in top of front page */

.region-preblocks .field-content > p {
	font-size: 2em;
	line-height: 1.5em;
}

/* Tables */

.views-table {
	width: 100%;
	border: 1px solid white;
	outline: 1px solid #D1D1D1;
	padding: 19px;
	overflow: hidden;
	background-color: #F0F0F0;
	position: relative;
	top: -9px;
}

.views-table > thead .views-field {
	text-align: left;
	font-size: 1.5em;
	line-height: 1.5em;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.views-table > tbody > tr {
	line-height: 1.8em;
}

/*User search page styling*/
section.region-content > article > .content {
	border: 1px solid white;
	outline: 1px solid #D1D1D1;
	padding: 19px;
	overflow: hidden;
	background-color: #F0F0F0;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EEE), color-stop(100%, #F6F6F6));
	background-image: -webkit-linear-gradient(#EEE, #F6F6F6);
	background-image: -moz-linear-gradient(#EEE, #F6F6F6);
	background-image: -o-linear-gradient(#EEE, #F6F6F6);
	background-image: -ms-linear-gradient(#EEE, #F6F6F6);
	background-image: linear-gradient(#EEE, #F6F6F6);
}

section article .view-users .views-row {
	padding-top: 10px;
	border-top: 1px solid black;
	margin-bottom: 20px;
}

section article .view-users .views-row .views-label {
	font-weight: bold;
} 

/* ==OG listings== */
.view-og-all-user-group-content .item-list {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

/* ==General list styling== */
ul a {
	text-decoration: none;
}

body:nth-of-type(1) ul li.views-row, body:nth-of-type(1) ul.views-summary li, .more-link {
list-style-type:none;
padding: 0 0 0 25px;
position:relative;
}

body:nth-of-type(1) ul li.views-row:after, body:nth-of-type(1) ul.views-summary li:after {
/*Add another block-level blank space*/
content:"\00a0";
display:block;
 
/*Make it a small rectangle so the border will create an V-shape*/
width: 3px;
height: 3px;
 
/*Add a blue border on the bottom and left, creating that 'V' */
border: solid #004D7D;
border-width: 0 2px 2px 0;
 
/*Position it on top of the circle*/
position:absolute;
left: 4px;
top: 40%;
margin-top: -4px;
 
/*Rotate the V -45 degrees to turn it into a arrow pointer*/
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
}

/* Making sure that the active users listing will go into two lines*/
span.views-field > span.field-content {
	display:block;
}

/* Adjusting archive news listing */
.view-nyheder > .item-list > ul.views-summary > li {
	padding-bottom: 6px;
	font-size: 1.3em;
}

/* Adjusting the more links on lists */
.more-link > a {
	font-size: 1.1em;
	text-decoration: none;
}

.view > .more-link {
	float: right;
}
/* Now making sure that the more link will not flow up next to a title in a mini pane */
h2.pane-title {
	clear: both;
}

body:nth-of-type(1)  .more-link > a:after{
/*Add another block-level blank space*/
content:"\00a0";
display:block;
 
/*Make it a small rectangle so the border will create an V-shape*/
width: 4px;
height: 4px;
 
/*Add a blue border on the bottom and left, creating that 'V' */
border: solid #004D7D;
border-width: 0 2px 2px 0;
 
/*Position it on top of the circle*/
position:absolute;
left: 4px;
top: 40%;
margin-top: -3px;
 
/*Rotate the V -45 degrees to turn it into a arrow pointer*/
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
}

/* Adding mouse over to all links */
a:hover {
	text-decoration: underline;
}

/* Styling of gallery node view */
.field-name-field-image-gallery .field-item {
	margin-right: 10px;
	float: left;
}

.node .field-name-body {
	clear: both;
	font-size: 1.2em;
	padding-top: 10px;
}

/* Styling af article node view */
article.node.clearfix > .content.clearfix {
	padding-left: 0px;
}

article.node.clearfix > .content > .field.field-type-image {
	margin-left: 0px;
	width: 100%;
}

/* Removing more link from tag-cload */
article.block-tagclouds > .content > .more-link {
	display: none;
} 

/* Styling the text state display */
article.node-article > .content > header {
	float: left;
}

article.node-article > .content > .field-name-field-tekststadie {
float: right;
padding: 0 0 0 35px;
position:relative;
}

article.node-article > .content > .field-name-field-tekststadie:before {
/*Add another block-level blank space*/
/*fill it with a blank space*/
content:"\00a0";
 
/*make it a block element*/
display: block;
 
/*adding an 8px round border to a 0x0 element creates an 8px circle*/
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
height: 0;
width: 0;
 
/*Now position it on the left of the list item, and center it vertically
(so that it will work with multiple line list-items)*/
position: absolute;
left: 7px;
top: 40%;
margin-top: -8px;
box-shadow: 2px 2px 4px #666;
-o-box-shadow: 2px 2px 5px #888;
-icab-box-shadow: 2px 2px 5px #888;
-khtml-box-shadow: 2px 2px 5px #888;
-moz-box-shadow: 2px 2px 5px #888;
-webkit-box-shadow: 2px 2px 5px #888;
}

/* Now the color determined by the taxonomy term
- Green */
.taxonomy-foerste-udkast article.node-article > .content > .field-name-field-tekststadie:before {
	border: solid 9px #1b7a1a;
}

/* yellow */
.taxonomy-gennemarbejdet article.node-article > .content > .field-name-field-tekststadie:before {
	border: solid 9px #f1bc28;
}

/* red */
.taxonomy-klar-til-udgivelse article.node-article > .content > .field-name-field-tekststadie:before {
	border: solid 9px #c4181b;
}

/* Making comment field smaller */
td#cke_contents_edit-comment-body-und-0-value {
	height: auto !important;
}

td#cke_contents_edit-comment-body-und-0-value > iframe {
	height: auto !important;
}

fieldset#edit-comment-body-und-0-format {
	display: none;
}

/* Removing underlining from tag cloud terms and adding lineheight */
.tagclouds-term > a {
	text-decoration: none;
	line-height: 1.8em;
}

/* Setting first letter of page titles always to be upper case, 
so i can use all lower case taxonomy terms for the more with same 
term lists, where i want to term to be all lower case */
h1.page-title:first-letter {
	text-transform: uppercase;
}

/*Pusing up font size for taxonomy term description */
.taxonomy-term-description {
	font-size: 1.2em;
}